# Archivos de caché e información de compilación
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales (MUY IMPORTANTE)
# Ignora el directorio del entorno virtual
venv/
env/
.venv/
.python-version
.idea/ # Para usuarios de PyCharm y otros IDEs de JetBrains

# Archivos de distribución y empaquetado
dist/
build/
*.egg-info
.eggs/

# Bases de datos y archivos de logs (si no son parte del control de versiones)
*.log
*.sqlite
*.db

# Directorios de pruebas de PyTest
.pytest_cache/
htmlcov/

# Archivos temporales del sistema operativo
.DS_Store # macOS
Thumbs.db # Windows
